<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>simpleVideoRec</contextName>
	<jmxConfigurator contextName="simpleVideoRec"/>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<File>simpleVideoRec.log</File>
		<Append>false</Append>
		<BufferedIO>false</BufferedIO>
		<ImmediateFlush>true</ImmediateFlush>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</layout>
	</appender>
	<root>
		<level value="DEBUG"/>
		<appender-ref ref="FILE"/>
	</root>
	<logger name="se.klandestino.red5.applications.simpleVideoRec">
		<level value="DEBUG"/>
	</logger>
</configuration>